.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0;
    align-items: flex-start;

}

.container div {
    margin-right: 30px;
}

.itemContainer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22%;
    
}



.plusSign {
    align-self: center;
}

.childWrapper {
    overflow: hidden;
    max-height: 0;
    
    transition: max-height 2s;
    
}

.itemContainer:hover .childWrapper{
   max-height: 200px;
}
