.container {
  padding: 0 2rem;
  font-family: VazirMatn;

}

.main {
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
